<ul class="breadcrumb breadcrumb-page">
			<div class="breadcrumb-label text-light-gray">You are here: </div>
			<li><a>Home</a></li>
			<li><a>Administration</a></li>
			<li class="active"><a>Access Code</a></li>
		</ul>
		<div class="page-header">
			<div class="row">
				<!-- Page header, center on small screens -->
				<h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Configuration</h1>
				<div class="col-xs-12 col-sm-8">Access Code added cannot be modified , you can delete and add as new one </div>
			</div>
		</div> <!-- / .page-header -->
		
<main ng-controller="accessCodeController">

<script>
var url="/resource/accessCode";
</script>
<div id="role">
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="showerror">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{error}}
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="showsucess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{success}}
</div>
<div class="col-md-4">
	<div class="panel panel-info panel-dark">
		<div class="panel-heading"><h3 class="panel-title">Add Access Code</h3></div>
		<div class="panel-body">
   		<form class="form-horizontal">
			<div class="form-group">
				<label for="disabledinput" class="control-label">Mapping</label>
				<div>
					<select class="form-control" ng-model="formData.state" id="accessMapping" ng-change="update()">
						<option ng-repeat="mapping in mappings" value="{{mapping.patternsCondition.patterns[0]}}:{{mapping.methodsCondition.methods[0]}}">{{mapping.patternsCondition.patterns[0]}}:{{mapping.methodsCondition.methods[0]}} </option>
					</select>
					<span class="help-block">Select from Drop Down</span>
				</div>
			</div>
			<div class="form-group">
				<label for="disabledinput" class="control-label">Method</label>
				<div>
					<input type="text" class="form-control" id="menuLnk" placeholder="Menu Link Name" readonly ng-model="formData.method">
					<span class="help-block">Allowed String (A-Z,0-9,_) </span>
				</div>
			</div>
			<div class="form-group">
				<label for="disabledinput" class="control-label"></label>
				<div>
					<input type="text" class="form-control" id="access-Code" placeholder="Access Code" ng-model="formData.accessCode" capitalize>
					<span class="help-block">In Capital Letters Allowed String (A-Z,0-9,_) </span>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">Access Code Description</label>
				<div>
					<input type="text" class="form-control" id="access-Desc" placeholder="Access Code Description" ng-model="formData.accessDesc">
					<span class="help-block">Some description on Access Code</span>
				</div>
			</div>
			 <button class="btn btn-primary" ng-click="add()"><span class=" fa fa-plus">&nbsp</span>Add</button>
   		</form>
  		</div>
	</div>
</div>
<div class="col-md-8">
<div class="panel panel-success panel-dark">
		<div class="panel-heading"><h3 class="panel-title">View Available Access Codes</h3></div>
		<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>
                                <button type="button" class="btn  btn-primary" ng-click="refresh()">
                                    <span class="fa fa-refresh"></span>&nbsp;
                                </button>
                            </th>
							<th>Access Code</th>
							<th>Access Code Description</th>
							<th>Mapping</th>
							<th>Method</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
					<input type="text" ng-model="searchKeyword" class="form-control ng-valid ng-dirty" id="searchTable" placeholder="Search table"/>
						<tr ng-repeat="acsCode in accessCodes | filter: searchKeyword ">
							<td>{{acsCode.id}}</td>
							<td>{{acsCode.accessCode}}</td>
							<td>{{acsCode.accessDesc}}</td>
							<td>{{acsCode.mapping}}</td>
							<td>{{acsCode.method}}</td>
							<td>
							<button type="button" class="btn  btn-danger" ng-click="del(acsCode)">
							<span class=" fa fa-trash">&nbsp</span>
								Delete
                             </button>
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</div>
</div>

</main>