<main ng-controller="newDeliveryController">

<ul class="breadcrumb breadcrumb-page">
			<div class="breadcrumb-label text-light-gray">You are here: </div>
			<li><a>Home</a></li>
			<li><a>Core</a></li>
			<li class="active"><a>Delivery</a></li>
		</ul>
		<div class="page-header">
			<div class="row">
				<!-- Page header, center on small screens -->
				<h1 class="col-xs-12 col-sm-2 text-center text-left-sm"><i class="fa fa-coffee page-header-icon"></i>&nbsp;&nbsp;Delivery</h1>
				<div class="col-xs-12 col-sm-10"> 
				<div class="btn-group">
			<button type="button" class="btn btn-warning" ng-click="getHelp()"
				data-toggle="modal" data-target="#delivHelp">Help</button>
			</div>
				</div>
			</div>
		</div> <!-- / .page-header -->

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="showerror">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{error}}
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="showsucess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{success}}
</div>
<div class="col-md-12">
<div class="form-group">
<label  class="control-label">Select Project</label>
	<div ng-init="showSearchSelect=false">
	<div class="input-group">
      	<input class="input-grp-sm form-control" ng-click="toggleSearchSelect()" ng-model="selectedProject.name"/>
	      <span class="input-group-btn">
	        <button class="btn btn-primary" type="button" ng-click="loadDelivery()">Go!</button>
	      </span>
    </div>

		<div class="searchSelect" ng-show="showSearchSelect">
			<input type="text" class="form-control searchSelectText" placeholder="Filter" ng-model="SrchTxt"/>
			<div class="searchSelectResult">
				<ul>
					<li ng-click="selectThisProject(project)" ng-repeat="project in projectList | filter: SrchTxt ">{{project.name}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<fieldset class="form-group">
	<legend>Releases Made for the Project </legend>
		<table class="table">
			<thead>
				<tr>
					<th>
                              <button type="button" class="btn  btn-success btn-sm" ng-click="loadDelivery()">
                                  <span class="fa fa-refresh"></span>&nbsp;
                              </button>
                          </th>
                    <th>Version</th>
					<th>Release Tag</th>
					<th>Application</th>
					<th>Team</th>
					<th>Created Date</th>
					<th>User</th>
					<th>Status</th>
					<th>Option</th>
				</tr>
			</thead>
			<tbody>
			<div class="input-group">
			<input type="text" ng-model="searchKeyword" class="form-control input-grp-sm ng-valid ng-dirty" id="searchTable" placeholder="Search table"  >
			<span class="input-group-btn">
	        	<button class="btn btn-primary" type="button" ng-click="addDelivery()">Add Delivery</button>
	      	</span>
			</div>
			<tr ng-repeat="delivery in deliveryList | filter: searchKeyword ">
					<td>{{$index+1}}</td>
                    <td>{{delivery.version}}</td>
					<td>{{delivery.releaseTag}}</td>
					<td>{{delivery.applicationName}}</td>
					<td>{{delivery.teamName}}</td>
					<td>{{delivery.createdDate}}</td>
					<td>{{delivery.userName}}</td>
					<td>{{delivery.status}}</td>
					<td>
					         <button type="button" class="btn  btn-info btn-sm" ng-click="getTeamMembers(team.id)" data-toggle="modal" data-target="#teamMemberModal">
							 <span class=" fa fa-pencil">&nbsp</span>
								Edit
                             </button>
                            </td>
				</tr>
			</tbody>
		</table>
</fieldset>
</div>

<div id="addDeliveryModal" class="modal fade" role="dialog">
 <div class="modal-dialog modal-xl">
  <div class="modal-content">
	<div class="modal-header  bg-primary">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="modal-title">Delivery : {{selectedProject.name}}</h3>
			<p>Select Team : </p>
			<select class="form-control" ng-model="selectedTeam" ng-change="show_del_frm=1;loadApplication()">
					<option ng-repeat="team in myteam" value="{{team.id}}">
						{{team.teamName}}
					</option>
			</select>
		</div>
		<div class="modal-body">
		<div style="padding:15px;">
			<div class="row" ng-show="show_del_frm">
			<div class="col-md-8">
				<div class="form-group">
					<label  class="control-label">Select Application</label>
					<div>
						<select class="form-control" ng-model="selectedApp">
							<option ng-repeat="app in applicationList" value="{{app.id}}">
								{{app.appName}}
							</option>
						</select>
					</div>
				</div>
			
				<div class="form-group">
					<label  class="control-label">Version </label>
					<div>
						<input type="text" class="form-control" ng-model="deliveryFrm.version" >
					</div>
				</div>
				<div class="form-group">
					<label  class="control-label">Release Tag </label>
					<div>
						<input type="text" class="form-control" ng-model="deliveryFrm.releaseTag" >
					</div>
				</div>
				<div class="form-group">
					<label  class="control-label">Change Description </label>
					<div>
						<textarea type="text" class="form-control" ng-model="deliveryFrm.changeDescription" rows="5"></textarea>
					</div>
				</div>
				</div>
			<div class="col-md-4">
				<fieldset>
					<legend>
						Artifacts 
					<button class="btn btn-sm btn-primary pull-right" ng-click="showFileUpload()">
						<span class="fa fa-file"></span>
					</button>
						<div class="clearfix"></div>
					</legend>
					<div id="artifacts">
					 <input type="file" id="artifact-fileupload" multiple style="display:none" />
					 	<ul id="fileList">
					 		<li ng-repeat="file in artifactFiles">{{file.name}}</li>
					 	</ul>
					</div>
				</fieldset>
			</div>
			</div>  
		</div>
		</div>
		<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-times">&nbsp</span>Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal"><span class=" fa fa-floppy-o">&nbsp</span>Save</button>
      </div>
  </div>
 </div>
</div>

<div id="delivHelp" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header  bg-warning">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">New Delivery Screen Help</h3>
			</div>
			<div class="modal-body">
				<div id="deliv_help"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn  btn-outline"
					data-dismiss="modal"><span class="fa fa-times">&nbsp</span>Close</button>
			</div>
		</div>
	</div>
</div>
</main>