<main ng-controller="applicationController"> 

<ul class="breadcrumb breadcrumb-page">
	<div class="breadcrumb-label text-light-gray">You are here:</div>
	<li><a>Home</a></li>
	<li><a>Core</a></li>
	<li class="active"><a>Applications</a></li>
</ul>
<div class="page-header">
	<div class="row">
		<!-- Page header, center on small screens -->
		<h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
			<i class="fa fa-snowflake-o page-header-icon"></i>&nbsp;&nbsp;Applications for :
			<select class="form-control" ng-model="selectedTeam" ng-change="loadTeam()">
				<option ng-repeat="team in myteam" value="{{team.id}}">
					{{team.teamName}}
				</option>
			</select>
		</h1>
		<div class="col-xs-12 col-sm-8"></div>
	</div>
</div>
<!-- / .page-header -->


<div>
	<div class="topButtons">
		<div class="btn-group">
			<button type="button" class="btn btn-warning" data-toggle="modal"
				data-target="#newApp" ng-click='reset()'>Add Application</button>
			<button type="button" class="btn btn-warning" ng-click="getHelp()"
				data-toggle="modal" data-target="#appHelp">Help</button>
			<!-- <div class="btn-group pull-right">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">My Team &nbsp;<i class="fa fa-caret-down"></i></button>
				<ul class="dropdown-menu teamMenu">
					<li ng-repeat="team in myteam"><a href="#/application/{{team.id}}">{{team.teamName}}</a></li>
				</ul>
		   </div>  -->
		</div>
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert"
		ng-show="showerror">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{error}}
	</div>
	<div class="alert alert-success alert-dismissible" role="alert"
		ng-show="showsucess">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{success}}
	</div>
	<div class="col-md-12">
		<fieldset class="form-group">
					<legend>View Available Applications</legend>
				<table class="table">
					<thead>
						<tr>
							<th>
								<button type="button" class="btn  btn-success btn-sm"
									ng-click="refresh()">
									<span class="fa fa-refresh"></span>&nbsp;
								</button>
							</th>
							<th>Application Id</th>
							<th>Name</th>
							<th>Release Tag</th>
							<th>Creator </th>
							<th>Date</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<input type="text" ng-model="searchKeyword"
							class="form-control ng-valid ng-dirty input-sm" id="searchTable"
							placeholder="Search table">
						<tr ng-repeat="app in applicationList | filter: searchKeyword ">
							<td>{{$index+1}}</td>
							<td>{{app.id}}</td>
							<td>{{app.appName}}</td>
							<td>{{app.appReleaseTag}}</td>
							<td>{{app.createdBy}}</td>
							<td>{{app.createdDate}}</td>
							<td>
								<button type="button" class="btn  btn-primary btn-sm"
									ng-click="edit(app)" data-toggle="modal" data-target="#newApp">
									<span class="fa fa-pencil"></span> Edit
								</button>
							</td>
						</tr>
					</tbody>
				</table>
	</fieldset>

</div>


<div id="newApp" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header  bg-warning">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Add New Role</h3>
			</div>
			<div class="modal-body">
				<div class="forms">
					<div class="form-group">
						<label for="disabledinput" class="control-label">Application Name </label>
						<div>
							<input type="text" class="form-control"
								ng-model="formData.appName">
						</div>
					</div>
					<div class="form-group">
						<label for="disabledinput" class="control-label">Release Tag</label>
						<div>
							<input type="text" class="form-control" 
								ng-model="formData.appReleaseTag">
						</div>
					</div>
					<div class="form-group">
						<label for="disabledinput" class="control-label">Description</label>
						<div>
							<input type="text" class="form-control" 
								ng-model="formData.appDescription">
						</div>
					</div>
					<div class="form-group">
						<label for="disabledinput" class="control-label">Installation Instruction </label>
						<div>
							<textarea type="text" class="form-control" 
								ng-model="formData.appInstallInstruction" rows="5"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn  btn-outline"
					data-dismiss="modal"><span class="fa fa-times">&nbsp;</span>Close</button>
				<button class="btn  btn-primary" ng-click="save()"
					data-dismiss="modal">
					<span class=" fa fa-floppy-o">&nbsp;</span>Save
				</button>
			</div>
		</div>
	</div>
</div>


<div id="appHelp" class="modal fade " role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header  bg-warning">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Role Screen Help</h3>
			</div>
			<div class="modal-body">
				<div id="app_help"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn  btn-outline"
					data-dismiss="modal"><span class="fa fa-times">&nbsp</span>Close</button>
			</div>
		</div>
	</div>
</div>
</div>
</main>