<ul class="breadcrumb breadcrumb-page">
			<div class="breadcrumb-label text-light-gray">You are here: </div>
			<li><a>Home</a></li>
			<li class="active"><a>Dashboard</a></li>
		</ul>
		<div class="page-header">
			
			<div class="row">
				<!-- Page header, center on small screens -->
				<h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Dashboard</h1>
				<div class="col-xs-12 col-sm-8">Property once added cannot be deleted , it can only be modify </div>
			</div>
		</div> <!-- / .page-header -->
		
<main ng-controller="ConfigController">

<script>
var url="/resource/config";
</script>
<div id="configurator">
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="showerror">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{error}}
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="showsucess">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{success}}
</div>
<div class="col-md-4">
	<div class="panel panel-info panel-dark">
		<div class="panel-heading"><h3 class="panel-title">Add Configuration</h3></div>
		<div class="panel-body">
   		<form class="form-horizontal">
			<div class="form-group">
				<label for="disabledinput" class="control-label">key</label>
				<div>
					<input type="text" class="form-control" id="key" placeholder="Key" ng-model="formData.key">
					<span class="help-block">Allowed String (a-z , A-Z, 0-9 ,_) </span>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">value</label>
				<div>
					<input type="text" class="form-control" id="value" placeholder="Value" ng-model="formData.value">
					<span class="help-block">Any values Allowed</span>
				</div>
			</div>
			 <button class="btn btn-primary" ng-click="add()"><span class=" fa fa-plus">&nbsp</span>Add</button>
   		</form>
  		</div>
	</div>
</div>
<div class="col-md-8">
<div class="panel panel-success panel-dark">
		<div class="panel-heading"><h3 class="panel-title">View Configuration</h3></div>
		<div class="panel-body">
			<form>
				 <fieldset>
    				<legend>Search</legend>
    				<table>
    				<tr>
    				<td>Key : </td>
    				<td>&nbsp;<input type="text" class="form-control input-sm" id="key" placeholder="Key" ng-model="search.key">&nbsp;</td>
    				<td>Value : </td>
    				<td>&nbsp;<input type="text" class="form-control input-sm" id="value" placeholder="value" ng-model="search.value">&nbsp;</td>
    				
    				<td><button type="button" class="btn  btn-primary" ng-click="refresh()">Search</button>&nbsp;
    				<button type="reset" class="btn  btn-primary" ng-click="reset()">Reset</button></td>
    				</tr>
    				</table>	
    			</fieldset>
    		</form>
				<table class="table">
					<thead>
						<tr>
							<th>
                                <button type="button" class="btn  btn-primary" ng-click="refresh()">
                                    <span class="fa fa-refresh"></span>&nbsp;
                                </button>
                            </th>
							<th>Key</th>
							<th>Value</th>
							<th>Save</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="config in configurationList | filter: searchKeyword ">
							<td>{{config.id}}</td>
							<td>{{config.key}}</td>
							<td><input type="text" class="form-control" placeholder="Value" ng-model="config.value"></td>
							<td>
							<button type="button" class="btn  btn-info" ng-click="modify(config)">
                                <span class="fa fa-floppy-o"></span>&nbsp;
                             </button>
                            </td>
						</tr>
					</tbody>
				</table>
			      <div>
		            <ul class="pagination">
		              <li ng-class="prevPageDisabled()">
		                <a href ng-click="prevPage()">« Prev</a>
		              </li>
		              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
		                <a class="pointer">{{n+1}}</a>
		              </li>
		              <li ng-class="nextPageDisabled()">
		                <a href ng-click="nextPage()">Next »</a>
		              </li>
		            </ul>
		          </div>
			</div>
	</div>
</div>

</div>

</main>