
<main ng-controller="projectViewController">

<ul class="breadcrumb breadcrumb-page">
	<div class="breadcrumb-label text-light-gray">You are here:</div>
	<li><a>Home</a></li>
	<li><a>Project</a></li>
	<li class="active"><a>Project View</a></li>
</ul>
<div class="page-header">
	<div class="row">
		<!-- Page header, center on small screens -->
		<h1 class="col-xs-12 col-sm-4 text-center text-left-sm">Project : {{project.name}}</h1>
		<div class="col-xs-12 col-sm-8"></div>
	</div>
</div>
<!-- / .page-header --> <script>
	var url = "/resource/project";
</script>
<div ng-show="projectNotFound || !project"><h3>Project Not Available</h3></div>
<div ng-show="project">
	<div class="alert alert-danger alert-dismissible" role="alert"
		ng-show="showerror">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{error}}
	</div>
	<div class="alert alert-success alert-dismissible" role="alert"
		ng-show="showsucess">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{success}}
	</div>
	<div class="col-md-4">
		
		<fieldset class="form-group"><legend>Attachments 
		<button class="btn btn-sm btn-primary pull-right"  data-toggle="modal"
								data-target="#projFileUpload" >
					<span class="glyphicon glyphicon-paperclip"></span>
				</button>
				<div class="clearfix"></div>
		</legend>
		
			<div style="padding: 4px; border: 0px; height: 250px; overflow-y: auto">
				<p ng-show=noDocs>No Document to List</p>
				<ol>
				 <li ng-repeat="docs in documentsList"> <a class="fileList" href="{{docs.url}}" >
				    {{docs.title}}
				    <p class="list-group-item-text" style="font-size:11px;">
				    By : {{docs.createdBy}} , On {{docs.createdDate}} 
				    </p>
				  </a>
				  </li>
				</ol>
				
			</div>
		</fieldset>	

	<fieldset class="form-group"><legend>References 
				<button class="btn btn-sm btn-primary pull-right"  data-toggle="modal"
								data-target="#refProjModal" >
					<span class="fa fa-link"></span>
				</button>
				<div class="clearfix"></div>
		</legend>
		
			<div style="padding: 4px; border: 0px; height: 250px; overflow-y: auto">
			<table class="table table-condensed">
			<tr ng-repeat="refProj in referenceProjectList" >
				<td>{{refProj.depMode}}</td>
				<td>{{refProj.projectName}}</td>
				<td><span class="label label-success">{{refProj.status}}</span></td>
				<td><button class="btn btn-sm" ng-click="deleteRef(refProj.id)"><span class="fa fa-trash"></span></button></td>
			</tr>
			</table>
			
			</div>
		</fieldset>	
		
		
	</div>
	<div class="col-md-8">

				<fieldset class="form-group">
					<legend>Project Information : {{project.name}}</legend>
					<button class="pull-right btn btn-sm btn-info formEdit"
						data-toggle="modal" data-target="#projectInfo"
						ng-click="populateInfo(project)">
						<span class="fa fa-edit"></span>
					</button>
					<table class="project-display-table">
						<tr>
							<th>Id : </th>
							<td>{{project.id}}</td>
							<th>Type : </th>
							<td>{{project.type}}</td>
						</tr>
						<tr>
							<th>Status : </th>
							<td>{{project.status}}</td>
							<th>Created Date : </th>
							<td>{{project.createdDate}}</td>
						</tr>
						<tr>
							<th>Target Live Date : </th>
							<td>{{project.targetDate}}</td>
							<th>Program(epic) : </th>
							<td><span class="label label-success">{{selectedProgram.name}}</span></td>
						</tr>
						
						<tr>
							<th colspan="4">Summary : </th>
						</tr>
						<tr>
							<td colspan="4">{{project.summary}}</td>
						</tr>
					</table>
				</fieldset>

				<fieldset class="form-group" ng-show="showProjectlist">
				<legend>Projects Under this Program</legend>
			  	<table class="table table-condensed">
			  	<tr ng-repeat="project in projectsForProgramList">
			  	  <td>{{project.id}}</td>
			  	  <td><div style="width:700px;overflow:hidden;white-space: nowrap;">
			  	  	<a href="#/projectView/{{project.id}}">{{project.summary}}
			  	  	</a>
			  	  	</div></td>
			  	  <td><span class="label label-info">{{project.status}}</span></td>
			  	</tr>
			  	</table>
				</fieldset>
					
				<fieldset class="form-group">
					<legend>Description</legend>

					
							<button class="pull-right btn btn-sm btn-info" data-toggle="modal"
								data-target="#description" ng-click="populateInfo(project)">
								<span class="fa fa-edit"></span>
							</button>
							<p id="project_description" class="withborder"></p>
				</fieldset>

				<div ng-init="selectedTab = 1;">
					<ul class="nav nav-tabs">
						<li ng-class="{active: selectedTab == 1}"><a href
							ng-click="selectedTab = 1;">Comments </a></li>
					</ul>

					<div class="tab-content" ng-show="selectedTab == 1">
						<input type="text" ng-model="searchKeyword"
							class="form-control ng-valid ng-dirty" id="searchComments"
							placeholder="Search Comments">
						<div id="comment"
							ng-repeat="comment in comments | filter : searchKeyword">
							<hr />
							<p>
								<span class="label label-info">{{comment.createdBy}}</span>
								Commented On {{comment.createdDate}}
							</p>
							<div style="margin-left: 25px;" to-html
								raw="{{comment.parsedData}}"></div>
						</div>
						<hr />
						<button class="btn btn-default btn-sm" data-toggle="modal"
							data-target="#projComment" ng-click="addComment(project)">
							<span class="fa fa-comment"></span> Add Comment
						</button>

					</div>


				</div>
			</div>

		</div>



<!-- Model for project Details  -->
<div id="projectInfo" class="modal fade" role="dialog">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Update the project information
					(projectId :{{projectInfoData.id}})</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal modal-form">
					<div class="form-group">
						<label for="disabledinput" class="control-label">Project
							Name</label>
						<div>
							<input type="text" class="form-control" id="name"
								placeholder="name" ng-model="projectInfoData.name">
						</div>
					</div>
					<div class="form-group">
						<label for="disabledinput" class="control-label">Type</label>
						<div>
							<select class="form-control" ng-model="projectInfoData.type"
								id="type">
								<option ng-repeat="type in projectTypes" value="{{type.type}}"
									ng-selected="{{type.type === projectInfoData.type}}">{{type.type}}
								</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label for="disabledinput" class="control-label">Program(epic)</label>
						<div ng-init="showSearchSelect=false">
							<div class="selectedProgram" ng-click="toggleSearchSelect()">{{selectedProgram.name}}</div>
							<div class="searchSelect" ng-show="showSearchSelect">
							<input type="text" class="form-control searchSelectText" placeholder="Filter" ng-model="programSrchTxt"/>
							<div class="searchSelectResult">
							<ul>
								<li ng-click="selectThisProgram(program)" ng-repeat="program in programList | filter: programSrchTxt ">{{program.name}}</li>
							</ul>
							</div>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="disabledinput" class="control-label">Status</label>
						<div>
							<select class="form-control" ng-model="projectInfoData.status"
								id="status">
								<option ng-repeat="sts in status" value="{{sts.status}}"
									ng-selected="{{sts.status === projectInfoData.status}}">{{sts.status}}
								</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="disabledinput" class="control-label">Target
							Date</label>
						<div id="trgtDtClndr">
							<div class="input-group date">
								<input type="text" class="form-control" id="targetDate"
									placeholder="Target Date" ng-model="projectInfoData.targetDate">
								<span class="input-group-addon"> <i
									class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="disabledinput" class="control-label">Summary</label>
						<div>
							<textarea type="text" class="form-control" id="summary"
								placeholder="Summary" rows="5"
								ng-model="projectInfoData.summary"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"
					ng-click="saveProjectInfo(projectInfoData)" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- Model for Project Details  --> <!-- Model for Description Details  -->
<div id="description" class="modal fade" role="dialog">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Description</h4>
			</div>
			<div class="modal-body ">
				<div ng-init="selectedDescTab = 1;">
					<ul class="nav nav-tabs">
						<li ng-class="{active: selectedDescTab == 1}"><a href
							ng-click="selectedDescTab = 1;">Edit </a></li>
						<li ng-class="{active: selectedDescTab == 2}"><a href
							ng-click="selectedDescTab = 2;preview();">Preview</a></li>
						<li ng-class="{active: selectedDescTab == 3}"><a href
							ng-click="selectedDescTab = 3;getHelp(); ">Help</a></li>
					</ul>

					<div class="tab-content" ng-show="selectedDescTab == 1">
						<div class="form-group">
							<label for="disabledinput" class="control-label">Description</label>
							<form>
								<div>
									<textarea class="form-control" id="projDescription" rows="15"
										ng-model="projectInfoData.description"></textarea>
								</div>
							</form>
						</div>

					</div>

					<div class="tab-content" ng-show="selectedDescTab == 2"
						id="previewOnDesc"></div>
					<div class="tab-content" ng-show="selectedDescTab == 3"
						id="markdownHelp"></div>
				</div>


			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary"
				ng-click="saveProjectInfo(projectInfoData)" data-dismiss="modal">Save</button>
		</div>
	</div>
</div>
<!-- Model for Description Details  -->

 <!-- Model for Comment Details  -->
<div id="projComment" class="modal fade" role="dialog">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Comment for Project : {{project.name}}</h4>
			</div>
			<div class="modal-body " ng-init="selectedCmtTab = 1;">
				<ul class="nav nav-tabs">
					<li ng-class="{active: selectedCmtTab == 1}"><a href
						ng-click="selectedCmtTab = 1;">Comment </a></li>
					<li ng-class="{active: selectedCmtTab == 2}"><a href
						ng-click="selectedCmtTab = 2;previewComment();">Preview</a></li>
					<li ng-class="{active: selectedCmtTab == 3}"><a href
						ng-click="selectedCmtTab = 3;getHelp(); ">Help</a></li>
				</ul>

				<div class="tab-content" ng-show="selectedCmtTab == 1">

					<div class="form-group">
						<label for="disabledinput" class="control-label">Comment</label>
						<div>
							<textarea type="text" class="form-control" id="summary"
								placeholder="Summary" rows="5"
								ng-model="projectComments.comment"></textarea>
						</div>
					</div>

				</div>

				<div class="tab-content" ng-show="selectedCmtTab == 2"
					id="previewOnComment"></div>
				<div class="tab-content" ng-show="selectedCmtTab == 3"
					id="markdownHelpComment"></div>


			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary"
				ng-click="saveComment()" data-dismiss="modal">Save</button>
		</div>
	</div>
</div>
<!-- Model for Comment Details  -->

<!-- Model for File upload Details  --> <!-- Model for Comment Details  -->
<div id="projFileUpload" class="modal fade" role="dialog">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Upload/Add Documents for : {{project.name}}</h4>
			</div>
			<div class="modal-body" ng-init="selectedUploadTab = 1;">
				<ul class="nav nav-tabs">
					<li ng-class="{active: selectedUploadTab == 1}"><a href
						ng-click="selectedUploadTab = 1;">External File Link </a></li>
					<li ng-class="{active: selectedUploadTab == 2}"><a href
						ng-click="selectedUploadTab = 2">Upload File</a></li>
				</ul>
			
			<div class="tab-content" ng-show="selectedUploadTab == 1">
				<div class="form-group">
						<label for="disabledinput" class="control-label">Title</label>
						<div>
							 <input type="text" class="form-control"  id="uploadFormData_title">
						</div>
					</div>
					<div class="form-group">
						<label for="disabledinput" class="control-label">URL</label>
						<div>
							 <input type="text" class="form-control"  id="uploadFormData_url">
						</div>
					</div>
			</div>
					
			<div class="tab-content" ng-show="selectedUploadTab == 2">
			 <div class="form-group">
					<label for="disabledinput" class="control-label">Select File</label>
					<div>
						 <input type="file" class="form-control"  id="uploadFormData_file">
					</div>
			 </div>
			</div>
			
			 <input type="hidden" id="uploadFormData_projectId" value={{project.id}}>
			 
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary"
				ng-click="upload()" data-dismiss="modal">Save</button>
		</div>
	</div>
</div>
<!-- Model for file upload ends -->

<!-- Model for Comment Details  -->
<div id="refProjModal" class="modal fade" role="dialog">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add References </h4>
			</div>
			<div class="modal-body " >
				<div class="form-group">
						<label for="disabledinput" class="control-label">Dependency Type</label>
						<div>
							<select class="form-control" ng-model="projref.dependencyMode"
								id="type">
								<option ng-repeat="dep in depModes" value="{{dep.dependency}}">
								 {{dep.dependency}}
								</option>
							</select>
						</div>
				  </div>
				  <div class="form-group">
						<label for="disabledinput" class="control-label">Program(epic)</label>
						<div ng-init="showSearchRefSelect=false">
							<div class="selectedProgram" ng-click="toggleSearchRefSelect()">{{selectedRefProject.name}}</div>
							<div class="searchSelect" ng-show="showSearchRefSelect">
							<input type="text" class="form-control searchSelectText" placeholder="Filter" ng-model="programSrchRefTxt"/>
							<div class="searchSelectResult">
							<ul>
								<li ng-click="selectThisRefProj(project)" ng-repeat="project in availProjectList | filter: programSrchRefTxt ">{{project.name}}</li>
							</ul>
							</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary"
				ng-click="saveReference()" data-dismiss="modal">Save</button>
		</div>
	</div>
</div>
<!-- Model for Comment Details  -->


 <script>
	$('#trgtDtClndr .input-group.date').datepicker({
		format : "yyyy-mm-dd 00:00:00"
	});
</script> </main>