<main ng-controller="resourcePlanningController">

<ul class="breadcrumb breadcrumb-page">
			<div class="breadcrumb-label text-light-gray">You are here: </div>
			<li><a>Home</a></li>
			<li><a>Resource Planning</a></li>
			<li class="active"><a>Plan</a></li>
		</ul>
		<div class="page-header">
			
			<div class="row">
				<!-- Page header, center on small screens -->
				<h1 class="col-xs-12 col-sm-2 text-center text-left-sm">
					<i class="fa fa-gg-circle page-header-icon"></i>&nbsp;&nbsp;Resource Planning</h1>
				<div class="col-xs-12 col-sm-4">
				<select class="form-control" ng-model="selectedTeam" ng-change="getUsersForSelectedTeam();loadTeam()">
					<option ng-repeat="team in myteam" value="{{team.id}}">
						{{team.teamName}}
					</option>
			    </select>
			
				</div>
			</div>
		</div> <!-- / .page-header -->
		
<script>
	var url="/resource/resourcePlanning";
</script>
<fieldset>

  <legend>
    Plan
    
    <div class="btn-group pull-right">
		<button class="btn btn-sm btn-success ">
					<i class="fa fa-chevron-left"></i>
					Prev Page
				</button>
				
				<button class="btn btn-sm btn-success">
					Next Page
					<i class="fa fa-chevron-right"></i>
				</button>
			</div>
				<div class="clearfix"></div>
  </legend>
  <table>
  	<tr>
  		<th>Project</th>
  		<th>Resource</th>
  		<th>Phase</th>
  		<th>Start Date to End Date</th>
  		<th>Effort %</th>
  		<th>Comment</th>
  		<th>Save</th>
  	</tr>
  	<tr>
		<td>

			<div ng-init="showSearchSelect=false">
				<input class="input-sm form-control" ng-click="toggleSearchSelect()" style="width:250px;" ng-model="selectedProject.name"></input>
				<div class="searchSelect" ng-show="showSearchSelect">
					<input type="text" class="form-control searchSelectText" placeholder="Filter" ng-model="SrchTxt"/>
					<div class="searchSelectResult">
						<ul>
							<li ng-click="selectThisProject(project)" ng-repeat="project in projectList | filter: SrchTxt ">{{project.name}}</li>
						</ul>
					</div>
				</div>
			</div>
  		
  		</td>
  		<td>
  		<Select class=" input-sm form-control" style="width:250px" ng-model="resourceForm.resourceId">
  			<option/>
  			<option ng-repeat="member in teamMembers" value="{{member.userId}}">
						{{member.firstName}} {{member.secondName}}
					</option>
  		</Select>
  		</td>
  		<td><input type="text" class="input-sm  form-control" ng-model="resourceForm.phase" style="width:75px;"></td>
  		<td>
  		
  		<div id="input-daterange" class="input-daterange input-group">
			<input type="text" class="input-sm form-control" name="start"
				id="stDateRange" ng-model="resourceForm.startDate"
				placeholder="start Date" />
		    <span class="input-group-addon">to</span>
			<input type="text" class="input-sm form-control" name="end"
				id="edDateRange" ng-model="resourceForm.endDate"
				placeholder="end Date" />
		</div>
  		</td>
  		<td><input type="text" class="input-sm form-control" ng-model="resourceForm.effortPercent" maxlength="3" style="width:50px;"></td>
  		<td><input type="text" class="input-sm form-control" ng-model="resourceForm.comments" style="width:300px;"></td>
  		<td> <button type="submit" class="btn btn-primary" ng-click="saveResourceData()">
  		<i class="fa fa-floppy"></i>Allocate</button></td>
  	</tr>
  </table>
</fieldset>
<hr/>
<div id="planningView" style="overflow:auto;">
	<table class="resourceView">
	<thead>
	    <th>&nbsp;&nbsp;Operations&nbsp;&nbsp;</th>
		<th>Resource Name</th>
		<th>Project Name</th>
		<th>Phase</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Total Effort (Mds)</th>
		<th>Effort Per day (Mds)</th>
        <th ng-repeat=" i in range track by $index" ng-style="weekEnd(i.day)"><div class="tblDate">{{i.MonDD}}</div></th>
	</thead>
		<tr ng-repeat="rd in data.data" ng-init="color=getRandomColor();" ng-mouseenter="resMouseEnter(rd,$event)" ng-mouseleave="resMouseleave()" ng-mousemove="resMousemove($event)">

		  <td>
		  <button class="btn btn-nano btn-success pull-left" ng-click="editAlloc(rd)">
		  <i class="fa fa-pencil"></i>
		  </button>
		  		
		  <button class="btn btn-nano btn-danger  pull-left" ng-click="deleteAlloc(rd.id)">
		  <i class="fa fa-trash"></i>
		  		</button>
		  	</td>
		  <td><div class="tblTxt">{{rd.resourceName}}</div></td>
		  <td><div class="tblTxt">{{rd.projectName}}</div></td>
		  <td><div class="tblTxt">{{rd.phase}}</div></td>
		  <td><div class="tblTxt">{{rd.startDate}}</div></td>
		  <td><div class="tblTxt">{{rd.endDate}}</div></td>
		  <td><div class="tblTxtEff">{{rd.totalEffort}}</div></td>
		  <td><div class="tblTxtEff">{{rd.effortPerDay}}</div></td>
		 <td ng-repeat="i in range track by $index" ng-style="rowClass(rd,$index,color)">
		 </td>
		 
		</tr>
	<tfoot>
		<th>&nbsp;&nbsp;Operations&nbsp;&nbsp; </th>
		<th>Resource Name</th>
		<th>Project Name</th>
		<th>Phase</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Total Effort (Mds)</th>
		<th>Effort Per day (Mds)</th>
        <th ng-repeat=" i in range track by $index" ng-style="weekEnd(i.day)"><div class="tblDate">{{i.MonDD}}</div></th>
	</tfoot>
	</tbody>
	</table>
</div>
</main>
<script>
 $('#input-daterange').datepicker({});
</script>