<html>
<body style="margin:auto">
	<div style="border-radius: 25px;border: 2px solid #3366cc;padding: 20px; widtd:100%">
		<div style="font-weight:bold;font-size:32px;">Gillli</div>
	    <center><h2>Delivery Sent for Review Request :${requestId}</h2></center>
	    <hr/>
    	<p>
    		Your delivery request is Approved.
    		<br>
    		  <b><u>Details</u></b>
    		<br/>
    		<table border="1" style="border-collapse:collapse;border: 2px solid #3366cc;padding: 20px;">
    			<tr>
    				<td><b>Request Id</b></td>
    				<td>${requestId}</td>
    			</tr>
    			<tr>
    				<td><b>Project</b></td>
    				<td>${project}</td>
    			</tr>
    			<tr>
    				<td><b>Team</b></td>
    				<td>${team}</td>
    			</tr>
    			<tr>
    				<td><b>Application</b></td>
    				<td>${application}</td>
    			</tr>
    			<tr>
    				<td><b>Version</b></td>
    				<td>${version}</td>
    			</tr>
    			<tr>
    				<td><b>Tag</b></td>
    				<td>${tag}</td>
    			</tr>
    			<tr>
    				<td><b>Change Description</b></td>
    				<td>${changeDesc}</td>
    			</tr>
    			<tr>
    				<td><b>Status</b></td>
    				<td>${status}</td>
    			</tr>
    			<tr>
    				<td><b>Approval Message</b></td>
    				<td>${apprMsg}</td>
    			</tr>
    		</table>
		</p>	
		<div>
		 Gillli Team.
		</div>
	</div>

</body>
</html>