<html>
<body style="margin:auto">
	<div style="border-radius: 25px;border: 2px solid #3366cc;padding: 20px; width:100%">
		<div style="font-weight:bold;font-size:32px;">Gillli</div>
	    <center><h2>Reset Your Password</h2></center>
	    <hr/>
    	<p>
    		Please click on the below link to reset your password.
    		<br/>
    		<a href="${resetLink}"> Reset your password.</a>
    		<br/>
    		If you are not initiate the reset password, please contact the Administrator.
		</p>	
		<div>
		 Gillli Team.
		</div>
	</div>

</body>
</html>