.pointer {
	cursor: pointer;
}

.project-display-table {
	width: 85%;
}

.project-display-table tr th {
	width: 20%;
	text-align: left;
	padding: 4px;
}

.project-display-table tr td {
	width: 30%;
	text-align: left;
	padding: 4px;
}

@media ( min-width : 768px) {
	.modal-xl {
		width: 96%;
		max-width: 1200px;
	}
}

.angucomplete-dropdown {
	z-index: 100;
	overflow-y: auto;
	max-height: 200px;
	border: solid 1px #f6f6f6;
	background: #f2f2f2;
}

.formEdit {
	z-index: 1980;
}

.modal-form {
	margin: 10px;
}

.searchResult {
	background: #fff;
	border: #eee solid 1px;

}

.searchResult .cont{
	padding: 5px;
	
}
.searchResult .cls{
	text-align:center;	
}

.searchProject {
    clear: both;
    width: 100%;
    display: inline-block;
}

.searchProject ul {
    list-style-type: none;
    padding: 0 5px 0;
}

.searchProject ul li {
    height:35px;
    word-break: break-all;
}


.searchList{
	padding: 0 5px 0;
    list-style-type: none;
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -ms-column-gap: 1em;
    column-gap: 1em;
}
.search-result {
    width: 250px;
    display: list-item;
    height: 22px;
}

.resourceView{
	table-layout:fixed;
	border-collapse:collapse;
	border:1px solid grey;
	background:#fff;
	padding : 10px;
}
.resourceView th{
	border:solid 0.5px #f2f2f2;
	font-size: 11px;
}

.resourceView td{
	border:solid 0.5px #f2f2f2;
	font-size: 11px;
}

.resourceView td .tblTxt{
	width:80px;
	height:20px;
	overflow:hidden;
	white-space: nowrap
}
.resourceView td .tblTxtEff{
	width:30px;
	height:20px;
	overflow:hidden;
	white-space: nowrap
}

.resourceView .colored{
	border:none;
}

.resourceView th .tblDate{
	width:25px;
	height:30px;
	overflow:hidden;
}

.topButtons{
	margin:5px;
	padding: 5px;
	background:white;
}

td,th{
	font-size:12px;
}
.teamMenu{
	-webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0.5em;
    -ms-column-gap: 0.5em;
    column-gap: 0.5em;
}

.loading-spiner-holder{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 1;

}
.loading-spiner img{
	margin:auto;
	display:block;
	position: fixed;
     z-index: 2052;
}
.loading-spiner{
	top: 50%;
    left: 50%;
    position: fixed;
     z-index: 2051;
}

.fileList{
	color:#555;
}


.fileList:hover{
	text-decoration: underline;
}

.selectedProgram{
	height:34px;
	border:solid 1px #ccc;
	padding:5px;
}

.searchSelect{
	height: 200px;
    overflow: auto;
    border: solid 1px #ccc;
    padding: 5px;
    z-index: 1500;
    position: fixed;
    background: white;
    width: 50%;
}

.searchSelectResult ul{
	list-style-type: none;
    padding: 0 5px 0;
}

.searchSelectResult ul li{
	padding:5px;
	border-bottom:solid 1px #5bc0de;	
}

.form-control-nowidth{
	
}

.btn-nano{
	font-size: 10px;
    line-height: 11px;
    padding: 3px 7px;
}

.input-grp-sm{
	height: 32px
}


.dropDownSelect{
	height: 200px;
    overflow: auto;
    border: solid 1px #ccc;
    padding: 5px;
    z-index: 1500;
    position: fixed;
    background: white;
}

.autoLoadList{
	list-style-type: none;
    padding: 0 5px 0;
}
.autoLoadList li {
	padding:5px;
	border-bottom:solid 1px #5bc0de;	
}