.pointer
{
	cursor: pointer;
}

 .project-display-table{
  	width:85%;	
  }
  
  .project-display-table tr th{
  	width:20%;
  	text-align:left;
  	padding:4px;
  }
  
  .project-display-table tr td{
  	width:30%;	
  	text-align:left;
  	padding:4px;
  }
  
 	@media (min-width: 768px) {
  .modal-xl {
    width: 96%;
   max-width:1200px;
  }
}
  .angucomplete-dropdown{
   z-index:100;
   overflow-y: auto;
    max-height: 200px;
    border:solid 1px #f6f6f6;
    background:#f2f2f2;
  }
  
  .formEdit{
  	z-index:1980;
  }
  .modal-form{
  
  margin:10px;
  
  }